* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/// RESET

li {
    display: inline;
    list-style-type: none;
}

button {
    border: none;
}

///

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-color: $light-grayish-blue;
    color: $very-dark-grayish-blue;
    font-family: "Manrope";
    word-spacing: 1px;

    @include landscape-down(xs) {
        height: 150dvh;
    }
}

.main {
    margin-bottom: 2rem;
}